<ion-header>
  <ion-toolbar>
    <ion-title>Redefinir senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label position = "flouting">Senha:
  <ion-input type="password" name="senha" ></ion-input>
  </ion-label>
  <ion-label position = "flouting" >confirmar senha:
  <ion-input type="password" name="nova" ></ion-input>
  </ion-label>
  <ion-button  expand = full (click)="confirmar()">redefinir</ion-button>
  <ion-button  expand = full href = home>voltar</ion-button>
</ion-content>
